<% include ./common/header %>
    <div class="container chat">
        <div class="chat-top">
            <div class="chat-top-left">
                <a href="javascript:void(0)" class="hospital-logo">
                    <img src="/images/hospital.png" class="chat-titleImg">
                    黄药师
                </a>
            </div>
            华侨医院－药师患者沟通平台 <a href="/login" class="exit">退出</a>
        </div>
        <div class="chat-content">
            <div class="chat-content-left">
                <div class="chat-list">
                    <div class="list-item active">
                        <img src="/images/user.png" class="list-img">
                        <div class="list-item-content">
                            <div class="user"><span class="user-name">刘患者</span> <span class="chat-time">上午11:32</span></div>
                            <div class="newInfo">您好，我想咨询一下用药的问题…</div>
                        </div>
                    </div>
                    <div class="list-item">
                        <img src="/images/user.png" class="list-img">
                        <div class="list-item-content">
                            <div class="user"><span class="user-name">刘患者</span> <span class="chat-time">上午11:32</span></div>
                            <div class="newInfo">您好，我想咨询一下用药的问题…</div>
                        </div>
                    </div>
                    <div class="list-item">
                        <img src="/images/user.png" class="list-img">
                        <div class="list-item-content">
                            <div class="user"><span class="user-name">刘患者</span> <span class="chat-time">上午11:32</span></div>
                            <div class="newInfo">您好，我想咨询一下用药的问题…</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-content-right">
                <div class="chat-content-right-top">
                    <div class="chatContent">
                        <div class="chatContent-box chatContent-left">
                            <a href="javascript:void(0)" class="chatContent-logo user-logo">
                                <img src="/images/user.png" class="chatContent-img">
                            </a>
                            <div class="chatContent-content">
                                <span class="chatContent-text">您好，从专业角度出发，为避免信息缺失造成风险管理遗漏，请您在个人中心完善资料，方便药师了解您的基础健康信息。</span>
                            </div>
                        </div>
                        <div class="chatContent-box chatContent-right">
                            <a href="javascript:void(0)" class="chatContent-logo hospital-logo">
                                <img src="/images/hospital.png" class="chatContent-img">
                            </a>
                            <div class="chatContent-content">
                                <span class="chatContent-text">您好，从专业角度出发</span>
                                <a class="chatContent-link">
                                    <img src="/images/icon-arrow.png" class="icon-arrow">关注微信公众号
                                </a>
                                <a class="chatContent-link">
                                    <img src="/images/icon-arrow.png" class="icon-arrow">完善个人资料
                                </a>
                            </div>
                        </div>
                        <div class="chatContent-box chatContent-left">
                            <a href="javascript:void(0)" class="chatContent-logo user-logo">
                                <img src="/images/user.png" class="chatContent-img">
                            </a>
                            <div class="chatContent-content">
                                <span class="chatContent-text">您好，从专业角度出发，为避免信息缺失造成风险管理遗漏，请您在个人中心完善资料，方便药师了解您的基础健康信息。</span>
                            </div>
                        </div>
                    </div>
                    <div class="popup hospital-popup">
                        <div class="popup-top">
                            <img src="/images/icon-close.png" class="popup-close">
                            <span class="popup-edit">编辑</span>
                        </div>
                        <div class="popup-content">
                            <div class="popup-item QRcode">
                                <div class="popup-item-left QRcode-text">二维码</div>
                                <div class="popup-item-right">
                                    <img src="/images/QRcode.png" class="QRcode-img">
                                </div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">登录账号</div>
                                <div class="popup-item-right">13800000005</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">服务人次</div>
                                <div class="popup-item-right">1380人</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">服务评分</div>
                                <div class="popup-item-right">1380 <img src="/images/icon-star-active.png" class="icon-star"></div>
                            </div>
                            <div class="popup-item gender">
                                <div class="popup-item-left">性别</div>
                                <div class="popup-item-right">女</div>
                                <div  class="popup-item-right gender-selects">
                                    <div class="select">男</div>
                                    <div class="select active">女</div>
                                </div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">单位</div>
                                <div class="popup-item-right"><input class="popup-input" type="text" value="广州华侨医院" placeholder="请输入您的单位" disabled></div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">职称</div>
                                <div class="popup-item-right">
                                    <div class="popup-item-right"><input class="popup-input" type="text" value="副主任" placeholder="请输入您的职称" disabled></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup user-popup">
                        <div class="popup-top">
                            <img src="/images/icon-close.png" class="popup-close">
                        </div>
                        <div class="popup-content">
                            <div class="popup-item">
                                <div class="popup-item-left"><img src="/images/user.png" class="user-img"></div>
                                <div class="popup-item-right user-name">刘患者</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">手机号码</div>
                                <div class="popup-item-right">13800000009</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">真实姓名</div>
                                <div class="popup-item-right">刘小六</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">性别</div>
                                <div class="popup-item-right">女</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">住院号</div>
                                <div class="popup-item-right">100＊＊8</div>
                            </div>
                            <div class="popup-item">
                                <div class="popup-item-left">诊疗卡号</div>
                                <div class="popup-item-right">1234＊＊78</div>
                            </div>
                            <div class="popup-item note">
                                <div class="popup-item-left">备注</div>
                                <div class="popup-item-right">
                                    <input type="text" class="note-input" placeholder="请输入备注" value="100＊＊8" disabled>
                                    <img src="/images/icon-edit.png" class="icon-edit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sendInfo">
                    <div class="sendInfo-toolbar">
                        <div class="sendEvaluation">发送评价请求</div>
                    </div>
                    <textarea name="" class="sendInfo-content"></textarea>
                    <div class="btn-sendInfo">发送</div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(".chat-list .list-item").click(function() {
        if ($(this).hasClass("active")) return false;
        $(this).addClass("active").siblings().removeClass("active");
    });
    $(".hospital-logo").click(function () {
        $(".hospital-popup").show();
    });
    $(".popup-close").click(function () {
        $(this).parents(".popup").hide();
    });
    $(".user-logo").click(function () {
        $(".user-popup").show();
    });
    $(".icon-edit").click(function () {
        $('.note-input').attr("disabled",false);
        $('.note-input').select();
    });
    $('.note-input').blur(function(){
        $('.note-input').attr("disabled",true);
    })
    $(".popup-edit").click(function () {
        $('.gender .popup-item-right').hide();
        $('.gender .gender-selects').css("display","inline-block");
        if( $('.hospital-popup .popup-input').attr("disabled") == "disabled"){
            $('.hospital-popup .popup-input').attr("disabled",false);
            $('.hospital-popup .popup-input').first().select();
            $('.hospital-popup .popup-input').addClass("active-input");
            $(".popup-edit").text("保存");
        }else{
            $('.hospital-popup .popup-input').attr("disabled",true);
            $('.hospital-popup .popup-input').removeClass("active-input");
            $(".popup-edit").text("编辑");
        }
    });
    $(".gender-selects .select").click(function () {
        if ($(this).hasClass("active")) return false;
        $(this).addClass("active").siblings().removeClass("active");
    });
    $(".btn-sendInfo").click(function(){
       console.log( $(".sendInfo-content").val(),$('.chatContent')[0].scrollHeight);
       if($(".sendInfo-content").val() != ""){
           var hospital="";
           hospital +='<div class="chatContent-box chatContent-right"><a href="javascript:void(0)" class="chatContent-logo hospital-logo"> <img src="/images/hospital.png" class="chatContent-img"> </a> <div class="chatContent-content"> <span class="chatContent-text">' ;
           hospital += $(".sendInfo-content").val();
           hospital += '</span> </div> </div>';
           $('.chatContent').append(hospital);
           $('.chatContent').scrollTop($('.chatContent')[0].scrollHeight);
       }
    })
    $(".sendEvaluation").click(function(){
        var hospital="";
        hospital +='<div class="chatContent-box chatContent-right"><a href="javascript:void(0)" class="chatContent-logo hospital-logo"> <img src="/images/hospital.png" class="chatContent-img"> </a> <div class="chatContent-content"> <span class="chatContent-text">' ;
        hospital += '感谢您的咨询！希望我们的服务能解决您的问题。赶紧去给黄药师的服务评分吧！';
        hospital += ' <a class="chatContent-link"> <img src="/images/icon-arrow.png" class="icon-arrow">去评分</a></span> </div> </div>';
        $('.chatContent').append(hospital);
        $('.chatContent').scrollTop($('.chatContent')[0].scrollHeight);
   })
</script>
<% include ./common/footer %>