<% include ./common/header %>
    <div class="container gradeSucceeed">
       <div class="grade">
         <div class="gradeSucceeed-box">
             <img src="/images/gradeSucceeed.png" class="gradeSucceeed-img">
             <div  class="gradeSucceeed-text">提交成功</div>
         </div>
       </div>
        <a href="/pharmacist?id=<%=id%>" class="btn grade-btn">查看评分</a>
    </div>
<% include ./common/footer %>