<% include ./common/header %>
    <div class="container gradeBox">
       <div class="grade">
           请您给<%=datas.wxName%>的服务评分：
           <div class="starGroup">
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
               <i class="icon-star"></i>
           </div>
       </div>
        <div class="btn grade-btn">提交</div>
    </div>
    <div class="container gradeSucceeed" style="display:none;">
        <div class="grade">
            <div class="gradeSucceeed-box">
                <img src="/images/gradeSucceeed.png" class="gradeSucceeed-img">
                <div  class="gradeSucceeed-text">提交成功</div>
            </div>
        </div>
        <a href="/pharmacist?id=<%=datas._id%>"class="btn grade-btn">查看评分</a>
    </div>
<script>
    $(".starGroup .icon-star").click(function () {
        $(this).siblings().removeClass("icon-star-active");
        $(this).prevAll().andSelf().addClass("icon-star-active")
    })
    $(".grade-btn").click(function () {
        fetch('/star/'+url2obj().id, {
            method:'POST',
            body: JSON.stringify({
                num:$(".starGroup .icon-star-active").length
            }),
            headers:{
                'Accept':'application/json',
                'Content-Type':'application/json'
            }
        }).then((result)=>{
            return result.json();
        }).then((result)=>{
            if(result.statu == 1){
                $(".gradeBox").hide();
                $(".gradeSucceeed").show();
//                window.location.href= "/gradeSucceed?id="+url2obj().id;
            }
        })
    });
</script>
<% include ./common/footer %>