<% include ./common/header %>
    <div class="container masterList">
        <a href="javascript:void(0)" class="item">
            <img src="http://wx.qlogo.cn/mmopen/qKh3icKic85CeslN1iawnqWCQ2s6pI7TKpyCDsPThfWqdib8pXWyNx7bg1FzicmK27t2PTTGPlTuFgVSjRwgL9uM3Rfv6T9d3suDp/0" onclick="showUserInfo()" class="item-img">
            <span class="name">DXDSS</span>
        </a>
    </div>
<% include ./common/footer %>